
*.class
*.cmake
*.ninja
*.exe
*.bin
*.iml
*.xml
*.check_cache
*.obj
*.log
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/TargetDirectories.txt
CMakeLists.txt
.idea/.name
.class